@import '../commons.scss';

.company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    .company-name {
        padding: 40px;
        font-size: 3rem;
        text-align: center;
    }

    .company-btn {
        outline: none;
        border: none;
        color: white;
        background-color: $green;
        font-size: 1rem;
        padding: 20px;
        cursor: pointer;
    }
}
