@import '../commons.scss';

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    box-shadow: 0px -3px 10px 0px black;

    .header-logo {
        height: 45px;
        margin: 20px;
    }

    .heading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;

        .main-heading {
            margin: 0;
            padding-left: 20px;
            font-weight: 400;
            font-size: 1.8rem;

            span {
                color: $gray;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            font-size: 1.8rem;
            padding: 0;
            margin: 0;
        }
    }
}
