/* Shared scss */

/* COLORS */
$blue: rgb(0, 129, 195); // Tampere ES blue
$red: rgb(255, 0, 83); // Tampere ES red
$green: rgb(44, 142, 64); // Tampere ES green
$orange: rgb(255, 162, 32); // Tampere ES orange
$black: rgb(36, 31, 32); // Tampere ES black
$gray: rgb(111, 111, 113); // Tampere ES gray
