@import '../commons.scss';

.main-footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    background-color: $black;
    color: $gray;

    .footer-logo {
        max-width: 270px;
        margin: 20px 20px;
    }

    .github, .copyright {
        padding: 20px;

        a {
            color: $blue;
            text-decoration: none;
        }
    }
}